.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translatey(-6rem);
}

.flip-card {
  width: 400px;
  height: 400px;
  margin: 0 1rem 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s linear;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #F0F0F0;
  color: #707070;
  img {
    width: 400px;
    height: 250px;
  }
  h1 {
    margin: 1rem 0;
    padding: 0;
    font-family: "Montserrat";
  }
}

/* Style the back side */
.flip-card-back {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
}
