@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .brand-logo {
    width: 3rem;
    height: 3rem;
    margin-left: 5rem;
    background-color: #747474;
    border-radius: 50%;
  }

  ul {
    list-style: none;
    display: inline-flex;

    li {
      margin: 0 calc(1rem + 4vw);

      a {
        display: inline-block;
        text-decoration: none;
        font-family: "Nunito", sans-serif;
        font-weight: bolder;
        color: #747474;
        transition: transform 0.1s linear;
      }

      a:hover {
        transform: scale(1.3);
      }
    }
  }
}

.active {
  background-color: #f0f0f0;
  width: 50%;
}
